# python or editor folders
.vscode
.ipynb_checkpoints
__pycache__
.venv
build

# python
check.ipynb
kitti.ipynb

# pytest
.pytest_cache

# git clone dir
/python/datasets/redwood-3dscan/

# cmake
cmake-3.25.1/

# data file
*.pcd
outputs/
/data/pix3d
/data/pix3d.zip
/data/redwood-3dscan/
/data/redwood-indoor/
/data/ScanNet
/data/kitti
/data/sun3d
/data/modelnet40_ply_hdf5_2048
/data/3dshapenetscode
/data/A2D2