# python or editor folders
.vscode
.ipynb_checkpoints
__pycache__

# python
check.ipynb
constructing.ipynb

# pytest
.pytest_cache

# git clone dir
/python/datasets/redwood-3dscan/

# data file
*.pcd
outputs/
/data/pix3d
/data/pix3d.zip
/data/redwood-3dscan/
/data/ScanNet